#header {
    text-align: center;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cac7c7;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #d44a4a;
  }

body {
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1543652437-42e887fff7c0?q=80&w=1035&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: 100vw;
    background-position: bottom fixed;
    background-repeat: no-repeat;
}

table {
    width: 600px;
    height: 300px;
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
    column-rule: solid black;
 }
 
 th {
    text-decoration: underline;
 }
 
thead {
    text-align: center;
}
#date {
    text-align: left;
}